#ws
{
    width: 3rem;
    height: 1.5rem;
}
#colorWell
{
    width:2rem;
}
body
{
    background-image: url(http://chainimage.com/images/description-cool-backgrounds-hd-is-a-hi-res-wallpaper-for-pc-desktops.jpg);
}
#container_canvas
{
    position: relative;
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

#maincanvas
{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
    border-width:2px;
    color: white !important;
}

#c_temp
{
    position: absolute;


}

#stripe {

	padding: 1rem;
    color: #484848;
}

#navbar {
	display: -webkit-flex;
    display: flex;
	flex-direction: row;
}

#navbar a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
	color: rgb(224, 55, 126);
    padding: 0 0.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    line-height: 40px;
}

#navbar a:hover {
    color: steelblue;
}

#navbar a.selected {
	border-radius: 999rem;
	color: white;
	font-weight: bold;
}

#brand {
	font-weight: bold;
    padding: 0 1rem;
    color: black;
    font-size: 2rem;
}

.menu_container {
    margin-left: auto;
	margin-right: auto;

}

.selected {
    color: white;
    background: steelblue;
}

label
{
    margin-top: 9px;
}